/* Font - Lato */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('/css/Lato/Lato-Reg.ttf') format('ttf');
}

.ionic-body, body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
    /*font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5;*/
}

.title-image {
    padding-top: 4px;
    height: 100%;
    border-radius: 5px;
    padding-bottom: 4px;
}


/* Dashboard */
/*.nearby-scroller .collection-repeat-container,
.gallery-prev-scroller .collection-repeat-container {
    height: 105px;
}*/
.nearby-card {
    height: 125px;
    max-width: 360px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 2px;
    overflow: hidden;
}

.nearby-card:nth-child(1) {
    margin-left: 10px;
}

.nearby-card:last-child {
    margin-right: 10px;
}

.more-card {
    width: 125px;
    height: 125px;
    background-color: white;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.more-card div {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    display: block;
    top: 33%;
    left: 25%;
}

.wide-as-needed {
    /*overflow: scroll;*/
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic {
    margin-top: 1em;
    text-align: center;
}
.profile-userpic img {
    /*float: none;*/
    /*margin: 0 auto;*/
    /*width: 50%;*/
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 1.75em;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin: 10px auto;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

/* Leaflet Map */
.map-container {
    top: 44px !important;
}
#map { position:absolute; top:0; bottom:0; width:100%; }

.leaflet-control-layers {
    visibility: hidden !important;
}

.leaflet-popup-content-wrapper {
   border-radius: 0;
}
.leaflet-popup-content h6 {
    margin-bottom: 0;
}

.must-header {
    top: 58px !important;
}

.photo-btn {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center;
    height: 100px;
    background-position: center center;
    background-size: cover;
}

.gallery-btn {
    width: 100px;
    height: 100px;
    padding: 0 5px;
}

.gallery-btn:first-child {
    padding-right: 0;
}
/* Animate.css */
.animated.fast {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

/* Listings */
.badge.distance-badge {
    /*border: 1px solid;*/
    /*border-radius: 10px;*/
    display: inline;
    position: relative;
    top: auto;
    right: auto;
    /*float: right;*/
    font-size: .8rem;
}

/* Accordion */
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

/* Restaurant Image Modal */
.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

#inputs,
#errors,
#directions {
    position: absolute;
    width: 100%;
    /*max-width: 300px;*/
    min-width: 200px;
}

.large #inputs,
.large #errors,
.large #directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
}


#inputs {
    z-index: 10;
    top: 10px;
    left: 10px;
}

#directions {
    z-index: 99;
    background: rgba(0,0,0,.66);
    top: 0;
    right: 0;
    bottom: 0;
    /*overflow: auto;*/
    opacity: 0;
}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}

.leaflet-marker-pane > img {
    display: none;
}

.bg-food {
    background-image: url('../img/bgs/cs21.jpg');
    background-position: center center;
    background-size: cover;
}

.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}



#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.featured-header{
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

.featured-header legend{
    -webkit-padding-start: 8px; /* It sets the whitespace between the line and the text */
    -webkit-padding-end: 8px;
    background: transparent; /** It's cool because you don't need to fill your bg-color as you would need to in some of the other examples that you can find (: */
    font-weight: normal; /* I prefer the text to be regular instead of bold  */
    /*color: #ffffff;*/
    font-size: 1em;
    width: auto;
    border: none;
    line-height: 1.2;

}