<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon icon ion-ios-location" ng-click="openProvinceModal($event)"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <!--<img class="title-image" src="img/logo2.png" style="width: auto;display: block; height: 40px"/>-->
        <!--<div class="button-bar button-bar-assertive-900">
            <a class="button button-outline">First</a>
            <a class="button button-outline">Second</a>
        </div>-->
        {{selectedProvinceTitle().name}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-energized-900 button-fab hide" id="fab-search" ng-click="openSearchModal()">
            <i class="icon ion-ios-search"></i>
        </button>
        <!--<button class="button button-dark button-fab" ng-click="openProvinceModal($event)">
            <i class="icon ion-location"></i>
        </button>-->
    </ion-nav-buttons>
    <ion-content class="has-header" id="dashboard">
        <ion-refresher pulling-text="Pull to refresh nearby" on-refresh="getNearby()"></ion-refresher>

        <div class="">
            <div class="">
                <!--<fieldset class="featured-header">
                    <legend class="assertive">PLACES NEARBY</legend>
                </fieldset>-->

                <ion-slide-box auto-play="true" does-continue="true" class="loc-slider nearby-slider" delegate-handle="DashboardSlider">
                    <ion-slide class="slide" ng-repeat="res in restaurants|orderBy:'distance'|limitTo:5" ng-click="toRestaurant(res.slug, restaurants)">
                        <div class="hero has-mask" style="background-image: url( {{ res.gallery.length ? res.gallery[0].path :'img/bgs/default.jpg'}});">
                            <div class="content">
                                <!--<div class="avatar" ng-if="::res.logo" style="background-image: url({{::res.logo.path}});"></div>-->
                                <h4 ng-bind="::res.name"></h4>
                                <!--<h5 ng-bind="::res.distance"></h5>-->
                                <div class="" style="background-color: rgba(0,0,0,.3);height: 47px;">
                                    <div class="row row-no-padding text-center padding-vertical">
                                        <div class="col">
                                            <span ng-if="res" ng-bind-html="::showStars(res.rating_count, res.rating_cache, true)"></span>
                                        </div>
                                        <div class="col" ng-show="::res.distance">
                                            <span class="">{{::res.distance|number:2}} mi.</span>
                                        </div>
                                        <div class="col">
                                            <span ng-if="res" ng-bind-html="::showDollars(res.restaurant.price_range)"></span>
                                        </div>
                                    </div>
                                    <!--<button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="openReviewModal()">
                                        <i class="icon ion-compose"></i>
                                    </button>
                                    &lt;!&ndash;<button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="addPhotos()">&ndash;&gt;
                                    &lt;!&ndash;<i class="icon ion-camera"></i>&ndash;&gt;
                                    &lt;!&ndash;</button>&ndash;&gt;
                                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="beenHere(res)">
                                        <i class="icon ion-checkmark" ng-class="{true:'energized'}[visited(res.id)]"></i>
                                    </button>
                                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="favoriteThis(res)" id="{{::'share_button_'+res.id}}">
                                        <i class="icon ion-heart" ng-class="{true:'lovely'}[faved(res.id)]"></i>
                                    </button>
                                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="toMap()">
                                        <i class="icon ion-map light"></i>
                                    </button>
                                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="initCaller(res)">
                                        <i class="icon ion-ios-telephone balanced"></i>
                                    </button>-->
                                </div>

                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>

                <!--<ion-scroll direction="x" class="available-scroller nearby-scroller wide-as-needed">
                    <div class="loader" ng-hide="restaurants && restaurants.length"><svg class="circular"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg></div>
                    <ion-item class="nearby-card card text-center" ng-repeat="res in restaurants|orderBy:'distance'">
                        <div class="item ink" ng-click="toRestaurant(res.slug, restaurants)">
                            &lt;!&ndash;<img ng-src="{{::res.logo.path}}">&ndash;&gt;
                            <h2>{{::res.name}}</h2>

                            <div ng-bind-html="::showStars(res.rating_count, res.rating_cache)"></div>
                            <div class="padding-bottom" ng-bind-html="::showDollars(res.restaurant.price_range)"></div>
                            <p ng-if="res.distance" style="font-size: 80%;padding: 2px">
                                <span class="distance-badge badge badge-energized">{{::res.distance|number:2}} miles away</span>
                            </p>
                        </div>
                    </ion-item>
                    &lt;!&ndash;<a class="nearby-card more-card hide" ui-sref="tabs.nearby">
                        <div><i class="icon ion-plus-circled"></i> <br>View All</div>
                    </a>&ndash;&gt;
                </ion-scroll>-->
            </div>

            <div class="padding-top">
                <fieldset class="featured-header assertive">
                    <legend class="assertive">CUISINES</legend>
                </fieldset>

                <div>
                    <div class="list half">
                        <a class="nearby-card" ui-sref="tabs.results.list({cuisine: c.slug})" ng-repeat="c in cuisines_1">
                            <img ng-src="{{::c.img}}" width="100%">
                        </a>
                        <!--<div ui-sref="" class="card card-gallery item item-text-wrap" ng-repeat="c in cuisines_1">
                            <div class="ink dark-bg">
                                <h2>Where's Elsa?</h2>
                                <img class="full-image" src="img/sansa-snowcastle3.jpg">
                            </div>
                            <div class="item tabs tabs-secondary tabs-icon-left in">
                                <a class="tab-item stable-bg assertive">
                                    <i class="icon ion-heart"></i>
                                    4
                                </a>
                                <a class="tab-item stable-bg positive-900">
                                    <i class="icon ion-chatbubbles"></i>
                                    2
                                </a>
                            </div>
                        </div>-->
                    </div>
                    <div class="list half">
                        <a class="nearby-card" ui-sref="tabs.results.list({cuisine: c.slug})" ng-repeat="c in cuisines_2">
                            <img ng-src="{{::c.img}}" width="100%">
                        </a>
                        <!--<div ui-sref="" class="card card-gallery item item-text-wrap" ng-repeat="c in cuisines_2">
                            <div class="ink dark-bg">
                                <h2>Where's Elsa?</h2>
                                <img class="full-image" src="img/sansa-snowcastle3.jpg">
                            </div>
                            <div class="item tabs tabs-secondary tabs-icon-left in">
                                <a class="tab-item stable-bg assertive">
                                    <i class="icon ion-heart"></i>
                                    4
                                </a>
                                <a class="tab-item stable-bg positive-900">
                                    <i class="icon ion-chatbubbles"></i>
                                    2
                                </a>
                            </div>
                        </div>-->
                    </div>
                </div>

                <!--<ion-scroll direction="x" class="available-scroller nearby-scroller wide-as-needed">
                    <div class="loader" ng-hide="cuisines && cuisines.length"><svg class="circular"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg></div>
                    <a class="nearby-card" ui-sref="tabs.cuisine({id: c.slug})" ng-repeat="c in cuisines_1">
                        <img ng-src="{{::c.img}}">
                    </a>
                    <a class="nearby-card more-card" ui-sref="tabs.cuisines">
                        <div><i class="icon ion-plus-circled"></i> <br>View All</div>
                    </a>
                </ion-scroll>-->
            </div>

            <div class="padding-top hide">
                <fieldset class="featured-header assertive">
                    <legend class="assertive">EVENTS</legend>
                </fieldset>

                <!--<ion-scroll direction="x" class="available-scroller nearby-scroller wide-as-needed">
                    <a class="nearby-card" ui-sref="tabs.cuisine({id: c.slug})" ng-repeat="c in cuisines">
                        <img ng-src="{{::c.img}}">
                    </a>
                    <a class="nearby-card more-card" ui-sref="tabs.cuisines">
                        <div><i class="icon ion-plus-circled"></i> <br>View All</div>
                    </a>
                </ion-scroll>-->
            </div>

        </div>
    </ion-content>
</ion-view>