<ion-modal-view>
    <ion-header-bar class="bar-assertive-900">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button button-clear light button-icon icon ion-ios-arrow-left" ng-click="closeSearchModal()"></button>
            </span>
        </div>

        <h1 class="title title-center light">Search</h1>

    </ion-header-bar>
    <form class="bar bar-subheader bar-assertive-900 item-input-inset no-border" ng-submit="startSearch()">

        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button type="button" class="button button-clear light button-icon icon ion-location" ng-click="openProvinceModal($event)"></button>
            </span>
        </div>

        <label class="item-input-wrapper">
            <input type="search" autofocus placeholder="Search restaurants" ng-model="search" reset-field>
        </label>
        <button class="hide" type="submit"></button>

        <div class="buttons buttons-right">
            <span class="right-buttons">
                <button class="button button-clear light button-icon icon ion-ios-search" type="submit" ng-click="closeSearchModal()"></button>
            </span>
        </div>
    </form>
    <ion-content class="has-subheader">
        <ion-list>
            <div class="item item-divider">Quick Searches</div>
            <a class="item" ui-sref="tabs.results.list()" ng-click="closeSearchModal()">Browse {{settings.province.name}}</a>
            <a class="item" ui-sref="tabs.results.list({search: 'Paradise Island'})" ng-click="closeSearchModal()">Paradise Island</a>
            <a class="item" ui-sref="tabs.results.list({search: 'Downtown'})" ng-click="closeSearchModal()">Downtown</a>
                <a class="item" ui-sref="tabs.results.list({open_now: true})" ng-click="closeSearchModal()">Takeout</a>
            <!--<a class="item" ui-sref="tabs.results({search: 'breakfast'})" ng-click="closeSearchModal()">Breakfast</a>
            <a class="item" ui-sref="tabs.results({search: 'lunch'})" ng-click="closeSearchModal()">Lunch</a>
            <a class="item" ui-sref="tabs.results({search: 'dinner'})" ng-click="closeSearchoseSearchModal()">Takeout</a>
            <a class="item" ui-sref="tabs.results({takeout: true})" ng-click="closeSearchModal()">Takeout</a>
            <a class="item" ui-sref="tabs.results({delivery: true})" ng-click="closeSearchModal()">Delivery</a>-->
        </ion-list>
    </ion-content>
</ion-modal-view>