<ion-modal-view>
    <ion-header-bar class="bar-assertive-900">
        <button class="button button-clear light button-icon icon ion-ios-arrow-left" ng-click="closeProvinceModal()">
            <i class=""></i>
        </button>
        <h1 class="title">Select your province</h1>
        <button class="button button-clear light button-icon icon ion-ios-navigate" ng-click="selectClosestProvince()">
            <i class=""></i>
        </button>
    </ion-header-bar>
    <ion-content class="">
        <ion-list>
            <ion-radio ng-repeat="p in provinces" ng-model="settings.province" ng-value="p" ng-change="setProvince(p)">{{::p.name}}</ion-radio>
        </ion-list>
    </ion-content>
</ion-modal-view>