<ion-view>
    <ion-nav-title>
        <img ng-if="::listing.logo" class="title-image pull-left" ng-src="{{::listing.logo.path}}"> <span class="padding-left">{{::listing.name}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear icon ion-map" ng-if="::listing.locations.length" ng-click="toMap()"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <div class="tabs tabs-light tabs-icon-top" style="position:relative;">
            <a class="tab-item" ng-click="initCaller(listing)">
                <i class="icon ion-ios-telephone balanced"></i>
                Call
            </a>
            <a class="tab-item" ng-click="shareThis(listing)">
                <i class="icon ion-ios-upload positive"></i>
                Share
            </a>
            <a class="tab-item" ng-click="favoriteThis(listing)" id="{{::'share_button_'+listing.id}}">
                <i class="icon ion-heart" ng-class="{true:'lovely'}[faved(listing.id)]"></i>
                Favorite
            </a>
            <a class="tab-item" ng-click="beenHere(listing)">
                <i class="icon ion-checkmark" ng-class="{true:'energized'}[visited(listing.id)]"></i>
                Visited
            </a>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <h5 class="padding-horizontal assertive">Rating</h5>
        <p class="padding-horizontal">
            <span ng-bind-html="::showStars(listing.rating_count, listing.rating_cache)"></span>
        </p>

        <h5 class="padding-horizontal assertive">Price Range</h5>
        <p class="padding-horizontal">
            <span ng-bind-html="::showDollars(listing.restaurant.price_range)"></span>
        </p>

        <blockquote ng-if="::listing.summary" class="padding" ng-bind="::listing.summary"></blockquote>

        <h5 class="padding-horizontal assertive">Cuisines</h5>
        <p class="padding-horizontal">
            <a class="badge badge-stable" ng-repeat="c in listing.restaurant.cuisines">{{::c.name}}</a>
        </p>
        <h5 class="padding-horizontal assertive">Address</h5>
        <ion-list>
            <div ng-show="::listing.locations.length == 1" ng-repeat="loc in listing.locations">
                <div class="list">
                    <div class="item item-button-right">
                        {{::loc.address_1}} {{::loc.address_2}}<br/>
                        {{::loc.locality}}<br/>
                        {{::loc.province}}<br/>
                        <button class="button button-positive ink" ng-click="toMap(loc.id)">
                            <i class="icon ion-map"></i> &nbsp;Directions
                        </button>
                    </div>
                    <div class="item" ng-show="loc.phone_1 || loc.phone_2">
                        <div class="button-bar bar-balanced">
                            <a ng-show="loc.phone_1" ng-href="tel:{{loc.phone_1}}"
                               class="button icon ion-ios-telephone"> {{::loc.phone_1}}</a>
                            <a ng-show="loc.phone_2" ng-href="tel:{{loc.phone_2}}"
                               class="button icon ion-ios-telephone"> {{::loc.phone_2}}</a>
                        </div>
                    </div>
                    <ion-item ng-repeat="openHour in loc.opening_hours" style="padding: 4px 16px;">
                        <b>{{::valById(hoursDays, openHour.day).name}}</b>: {{::valById(startHours,
                        openHour.open).name}} - {{::valById(endHours, openHour.close).name}}
                    </ion-item>
                    <div class="item" ng-if="!loc.opening_hours.length">
                        Open hours not currently available.
                    </div>
                </div>
            </div>

            <div ng-repeat="loc in listing.locations" ng-show="::listing.locations.length>1">
                <ion-item class="item-stable"
                          ng-click="toggleThisGroup(loc)"
                          ng-class="{active: isGroupShown(loc)}">
                    <i class="icon" ng-class="isGroupShown(loc) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp; {{::loc.name}}
                </ion-item>

                <div class="list item-accordion" ng-show="isGroupShown(loc)">
                    <div class="item">
                        {{::loc.address_1}} {{::loc.address_2}}<br/>
                        {{::loc.locality}}<br/>
                        {{::loc.province}}
                    </div>
                    <div class="item" ng-show="loc.phone_1 || loc.phone_2">
                        <div class="button-bar bar-balanced">
                            <a ng-show="loc.phone_1" ng-href="tel:{{loc.phone_1}}"
                               class="button icon ion-ios-telephone"> {{::loc.phone_1}}</a>
                            <a ng-show="loc.phone_2" ng-href="tel:{{loc.phone_2}}"
                               class="button icon ion-ios-telephone"> {{::loc.phone_2}}</a>
                        </div>
                    </div>
                    <ion-item ng-repeat="openHour in loc.opening_hours" style="padding: 4px 16px;">
                        <b>{{::valById(hoursDays, openHour.day).name}}</b>: {{::valById(startHours,
                        openHour.open).name}} - {{::valById(endHours, openHour.close).name}}
                    </ion-item>
                    <div class="item" ng-if="::!loc.opening_hours.length">
                        Open hours not currently available.
                    </div>
                </div>
            </div>
        </ion-list>

        <div class="list">
            <h5 class="padding-horizontal assertive">Services Available</h5>
            <div class="padding-horizontal services-list">
                <p class="" ng-if="::listing.restaurant.reservations"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;
                    <span ng-if="::listing.restaurant.reservations_preferred == 0">Accepts Reservations</span>
                    <span ng-if="::listing.restaurant.reservations_preferred == 1">Reservations Preferred</span>
                    <span ng-if="::listing.restaurant.reservations_preferred == 2"><i class="icon ion-alert"></i> Reservations Only</span>
                </p>
                <p class="" ng-if="::listing.restaurant.parking"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Parking Available</p>
                <p class="" ng-if="::listing.restaurant.tv"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;TV(s)</p>
                <p class="" ng-if="::listing.restaurant.credit_cards"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Credit Cards Accepted</p>
                <p class="" ng-if="::listing.restaurant.wifi"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Free Wi-Fi</p>
                <p class="" ng-if="::listing.restaurant.outdoor_seating"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Outdoor Seating</p>
                <p class="" ng-if="::listing.restaurant.delivery"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Delivery</p>
                <p class="" ng-if="::listing.restaurant.takeout"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;
                    <span ng-if="::listing.restaurant.takeout_only == 0">Takeout</span>
                    <span ng-if="::listing.restaurant.takeout_only == 1"><i class="icon ion-alert"></i> Takeout Only</span>
                </p>
                <p class="" ng-if="listing.restaurant.valet"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Valet</p>
                <p class="" ng-if="listing.restaurant.disability"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Handicap Accessible</p>
            </div>

            <!-- Photos -->
            <h5 class="padding-horizontal assertive" ng-if="::listing.gallery.length">Photos</h5>
            <div class=""></div>
            <ion-scroll ng-if="::!!listing.gallery.length" direction="x" class="available-scroller gallery-prev-scroller">
                <div class="nearby-card" ui-sref="tabs.cuisine({id: c.slug})" collection-repeat="photo in listing.gallery|limitTo:25" item-height="100" item-width="110">
                    <div class="photo-btn gallery-btn" ng-click="showImage(photo.path)" style="background-image: url({{::photo.path}});"></div>
                </div>
            </ion-scroll>

            <!-- Menus -->
            <h5 class="padding-horizontal assertive" ng-if="::listing.restaurant.menus[0].sections.length || listing.restaurant.menus[0].photos.length">Menus</h5>
            <div ng-repeat="menu in listing.restaurant.menus" ng-if="::listing.restaurant.menus[0].sections.length">
                <ion-item class="item-stable"
                          ng-click="toggleThisGroup(menu)"
                          ng-class="{active: isGroupShown(menu)}">
                    <i class="icon" ng-class="isGroupShown(menu) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp; {{::menu.name}}
                </ion-item>

                <div class="list item-accordion" ng-show="isGroupShown(menu)">
                    <div class="item" ng-if="menu.menu_type == 1">
                        <div class="row" style="flex-wrap: wrap;-webkit-flex-wrap: wrap;">
                            <div class="col col-50" ng-repeat="photo in menu.photos">
                                <div class="photo-btn" ng-click="showImage(photo.path)"
                                     style="background-image: url({{::photo.path}}); background-position: center center; background-size: cover"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="menu.menu_type == 2" ng-repeat="section in menu.sections">
                        <div class="item item-divider" ng-bind="::section.name"></div>
                        <div class="item" ng-repeat="item in section.items">
                            <div class="row row-no-padding">
                                <div class="col">
                                    <h3 ng-bind="::item.name"></h3>

                                </div>
                                <div class="col text-right">
                                    <span ng-bind="::item.price|currency"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Reviews-->
            <h5 class="padding-horizontal assertive">Reviews</h5>

            <div class="item card-item in done" style="-webkit-transition-delay: 0.11s; transition-delay: 0.11s;" ng-repeat="review in listing.accepted_reviews|limitTo:25">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-avatar item-text-wrap in" style="-webkit-transition-delay: 0.2s; transition-delay: 0.2s;">
                        <span class="avatar" style="background-image: url('{{::review.user.avatar}}');"></span>
                        <strong ng-bind="::review.user ? review.user.full_name : 'Anonymous'"></strong>
                        {{::review.comment}}
                        <div class="card-footer text-right">
                            <i class="icon ion-star energized"></i> {{::review.rating}}
                            <i class="icon ion-heart assertive"></i> {{::review.like_count}}
                            <div class="pull-left">
                                <i class="icon ion-clock"></i> {{::review.timeago}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>