<ion-popover-view>
    <ion-content>

        <ion-list>
            <ion-item class="item-icon-left" ng-click="">
                <i class="icon ion-social-facebook"></i>
                Share via Facebook
            </ion-item>
            <ion-item class="item-icon-left" ng-click="">
                <i class="icon ion-social-twitter"></i>
                Share via Twitter
            </ion-item>
            <ion-item class="item-icon-left" ng-click="">
                <i class="icon ion-social-whatsapp"></i>
                Share via WhatsApp
            </ion-item>
            <ion-item class="item-icon-left" ng-click="">
                <i class="icon ion-chatbox"></i>
                Share via SMS
            </ion-item>
            <ion-item class="item-icon-left" ng-click="">
                <i class="icon ion-email"></i>
                Share via Email
            </ion-item>
        </ion-list>

    </ion-content>
</ion-popover-view>