<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-dark tabs-icon-top tabs-striped">

    <ion-tab title="Search" icon="ion-ios-search" href="#/tab/dashboard">
        <ion-nav-view name="dashboard-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favorites" icon="ion-heart" href="#/tab/favorites">
        <ion-nav-view name="favorites-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Explore" icon="ion-map" href="#/tab/map">
        <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Me" icon=ion-user>
        <ion-content>
            <!--<div ng-if="user.id">
                &lt;!&ndash; SIDEBAR USERPIC &ndash;&gt;
                <div class="profile-userpic">
                    <img ng-if="::user.avatar" ng-src="{{::user.avatar}}" class="img-responsive" alt="" width="100px">
                    <img ng-if="::!user.avatar" src="http://lorempixel.com/food/200/200" class="img-responsive" alt="">
                </div>
                &lt;!&ndash; END SIDEBAR USERPIC &ndash;&gt;
                &lt;!&ndash; SIDEBAR USER TITLE &ndash;&gt;
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name" ng-bind="::user.full_name">
                    </div>
                    &lt;!&ndash;<div class="profile-usertitle-job">
                        Developer
                    </div>&ndash;&gt;
                </div>
            </div>-->

            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons" ng-if="!user.id">
                <a menu-close type="button" class="button button-block icon ion-log-in button-clear" ui-sref="signin" ui-sref-active="active">
                    Sign in
                </a>
            </div>
            <!-- END SIDEBAR BUTTONS -->
            <div class="list">
                <a ng-if="user.id" class="item item-avatar" href="#">
                    <img ng-if="::user.avatar" ng-src="{{::user.avatar}}" class="img-responsive" alt="">
                    <img ng-if="::!user.avatar" src="http://lorempixel.com/food/200/200" class="img-responsive" alt="">
                    <h2 ng-bind="::user.full_name"></h2>
                    <p>Super Foodie</p>
                </a>
                <a menu-close class="item item-icon-left item-icon-right" ui-sref="tabs.dashboard" ui-sref-active="active">
                    <i class="icon ion-home"></i>
                    Dashboard
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a menu-close class="item item-icon-left item-icon-right" ui-sref="tabs.favorites" ui-sref-active="active">
                    <i class="icon ion-heart"></i>
                    Favorites
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a menu-close class="item item-icon-left item-icon-right" ui-sref="tabs.map" ui-sref-active="active">
                    <i class="icon ion-map"></i>
                    Explore
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a menu-close class="item item-icon-left item-icon-right" ui-sref="tabs.restaurants" ui-sref-active="active">
                    <i class="icon ion-pizza"></i>
                    Restaurants
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a menu-close class="item item-icon-left item-icon-right" ui-sref="tabs.settings" ui-sref-active="active">
                    <i class="icon ion-gear-a"></i>
                    Settings
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </ion-content>
    </ion-tab>
    <ion-tab title="More" icon-on="ion-ios-more" icon-off="ion-ios-more-outline" href="#/tab/settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
