<ion-view view-title="Cuisines">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="filters.search">
        </label>
    </div>
    <ion-content class="has-subheader has-tabs">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="c in cuisines|filter:filters.search|orderBy:'name'" ui-sref="tabs.cuisine({id: c.slug})">
                <h2>{{::c.name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
