<ion-view view-title="Sign-In" hide-nav-bar="true" style="background-image: url('img/bgs/cs21.jpg'); background-position: center center; background-size: cover">
    <ion-content class="padding">
        <div class="col col-80 col-offset-10">
            <div style="padding-top: 60px; padding-bottom: 30px">
                <img src="img/logo-white_red.png" alt="Tabletops" width="100%"/>
            </div>

            <div class="padding" ng-init="showForm = false;showAccountForm = false">
                <button class="button icon-left ion-social-facebook button button-block button-positive" ng-click="signInFacebook()" ng-hide="showAccountForm||showForm">
                    LOGIN WITH FACEBOOK
                </button>
                <fieldset class="featured-header">
                    <legend class="light">Or login with email</legend>
                </fieldset>

                <div class="row responsive-sm">
                    <div class="col col-75 padding-right">
                        <button class="button button-block button-light" ng-click="showAccountForm = !showAccountForm" ng-hide="showForm">
                            <span ng-hide="showAccountForm">CREATE AN ACCOUNT</span>
                            <span ng-show="showAccountForm">GO BACK</span>
                        </button>
                    </div>

                    <div class="col col-25 padding-left">
                        <button class="button button-block button-dark" ng-click="showForm = !showForm" ng-hide="showAccountForm">
                            <span ng-hide="showForm">LOGIN</span>
                            <span ng-show="showForm">GO BACK</span>
                        </button>
                    </div>

                </div>

                <div class="animated fast" ng-show="showForm" ng-class="{true: 'fadeIn', false: 'fadeOut'}[showForm]">
                    <form class="list list-inset" name="loginForm">
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input type="text" placeholder="Email" ng-model="user.email" required>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" placeholder="Password" ng-model="user.password" required>
                        </label>
                    </form>
                    <button class="button icon-left ion-log-in button button-block button-balanced" ng-disabled="!loginForm.$valid" ng-click="login()">
                        LOGIN
                    </button>
                    <button class="button button-block button-outline button-light" ui-sref="forgotpassword">FORGOT PASSWORD?</button>

                </div>

                <div class="animated fast" ng-show="showAccountForm" ng-class="{true: 'fadeIn', false: 'fadeOut'}[showAccountForm]">
                    <form class="list list-inset" name="accountForm">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">First Name</span>
                            <input type="text" placeholder="First Name" ng-model="user.first" required>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Last Name</span>
                            <input type="text" placeholder="Last Name" ng-model="user.last" required>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Username</span>
                            <input type="text" placeholder="Username" ng-model="user.username" required>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Password</span>
                            <input type="password" placeholder="Password" ng-model="user.password" required>
                        </label>
                    </form>
                    <button class="button icon-left ion-log-in button button-block button-balanced" ng-disabled="!accountForm.$valid" ng-click="submitAccount(user)">
                        JOIN US
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark item-input-inset">
        <button class="button button-clear button-block" ui-sref="tabs.dashboard">
            CONTINUE WITHOUT LOGIN
            <i class="icon ion-ios-arrow-right"></i>
        </button>
    </div>
</ion-view>