<ion-view view-title="{{cuisine.name}}">
    <div class="bar bar-subheader item-input-inset bar-assertive-900 no-border">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
        </label>
        <!--<button class="button button-clear button-icon icon ion-ios-close-outline" ng-click="filters.search=''"
                ng-show="filters.search.length"></button>-->
        <button class="button button-clear light button-icon icon ion-ios-settings-strong" ng-click="openFiltersModal()"
                ng-hide="$exposeAside.active"></button>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <ion-list class="">
            <a ng-repeat="res in cuisine.restaurants" class="item item-avatar" ui-sref="tabs.cuisine-restaurant({cuisine_id: cuisine.id, id: res.listing.slug})">
                <img ng-if="res.listing.logo" ng-src="{{::res.listing.logo.path}}">
                <h2>{{::res.listing.name}}</h2>
                <p class="row row-no-padding">
                    <span class="col col-50">
                        <span ng-bind-html="::showStars(res.listing.rating_count, res.listing.rating_cache)"></span>
                    </span>
                    <span class="col col-50 text-right">
                       <span ng-bind-html="::showDollars(res.listing.restaurant.price_range)"></span>
                    </span>
                </p>
                <p>
                    <a href="#" class="subdued" ng-repeat="c in res.cuisines">{{::c.name}}</a>
                </p>
                <ion-option-button class="button-stable" ng-click="favoriteThis(res.listing)">&nbsp;<i class="icon ion-heart" ng-class="{true:'calm'}[faved(res.listing.id)]"></i></ion-option-button>
                <ion-option-button class="button-balanced" ng-click="initCaller(res.listing)">&nbsp;<i class="icon ion-ios-telephone"></i></ion-option-button>
            </a>
        </ion-list>
    </ion-content>

</ion-view>
