<ion-view view-title="Favorites">
    <div class="bar bar-subheader item-input-inset bar-assertive-900 no-border">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="filters.search" reset-field>
        </label>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <ion-list class="">
            <ion-item ng-show="faves.length" ng-repeat="res in faves|filter:filters.search|orderBy:filters.sort" class="item ink" data-ink-color="#B71C1C" ng-click="toFavorite(res.slug)">
                <!--<span class="avatar" style="background-image: url('{{::res.logo.path}}');"></span>-->
                <h2>{{::res.name}}</h2>
                <p class="row row-no-padding">
                    <span class="col col-50">
                        <span ng-bind-html="::showStars(res.rating_count, res.rating_cache)"></span>
                    </span>
                    <span class="col col-50 text-right">
                       <span ng-bind-html="::showDollars(res.restaurant.price_range)"></span>
                    </span>
                </p>
                <p>
                    <a href="#" class="subdued" ng-repeat="c in res.restaurant.cuisines">{{::c.name}}</a>
                </p>
                <ion-option-button class="button-stable" ng-click="favoriteThis(res)">&nbsp;<i class="icon ion-heart" ng-class="{true:'calm'}[faved(res.id)]"></i></ion-option-button>
                <ion-option-button class="button-balanced" ng-click="initCaller(res)">&nbsp;<i class="icon ion-ios-telephone"></i></ion-option-button>
            </ion-item>
            <!--<ion-item ng-hide="faves.length" class="card card-item text-center">
                <i class="icon ion-ios-heart-outline lovely" style="font-size: 2em"></i>
                <p>You don't have any favorites yet. <a ui-sref="tabs.results">Browse</a> around for places that you love!</p>
            </ion-item>-->
        </ion-list>


    </ion-content>

</ion-view>
