<ion-view view-title="Favorites">
    <div class="bar bar-subheader item-input-inset bar-assertive-900 no-border">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="filters.search" ng-keyup="scrollTop()" reset-field>
        </label>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <ion-list class="">
            <a ng-show="faves.length" ng-repeat="res in faves|filter:filters.search|orderBy:filters.sort" class="item" data-ink-color="#B71C1C" ng-click="toFavorite(res.slug)">
                <!--<span class="avatar" style="background-image: url('{{::res.logo.path}}');"></span>-->
                <h2 class="assertive-900" ng-bind="::res.name"></h2>
                <p class="row row-no-padding">
                    <span class="col col-75 item-text-wrap">
                        <span ng-if="::res.locations.length==1">{{::res.locations[0].address_1}}, {{::res.locations[0].locality}}</span>
                        <span ng-if="::res.locations.length>1">{{::res.locations[0].address_1}}, {{::res.locations[0].locality}} <br/><span style="font-size: 80%" class="subdued">+ {{::res.locations.length-1}} more</span>  </span>
                        <br/>
                        <span style="font-size: 80%" class="distance-badge badge badge-calm">{{::res.distance|number:2}} miles away</span>
                   </span>
                    <span class="col col-25 text-right">
                        <span ng-bind-html="::showStars(res.rating_count, res.rating_cache)"></span>
                        <br/>
                        <span ng-bind-html="::showDollars(res.restaurant.price_range)"></span>
                    </span>
                </p>
                <p>
                    <a href="#" class="subdued" ng-repeat="c in res.restaurant.cuisines">{{::c.name}}</a>
                </p>
                <!--<ion-option-button class="button-stable" ng-click="favoriteThis(res)">&nbsp;<i class="icon ion-heart" ng-class="{true:'calm'}[faved(res.id)]"></i></ion-option-button>-->
                <!--<ion-option-button class="button-balanced" ng-click="initCaller(res)">&nbsp;<i class="icon ion-ios-telephone"></i></ion-option-button>-->
            </a>
            <!--<ion-item ng-hide="faves.length" class="card card-item text-center">
                <i class="icon ion-ios-heart-outline lovely" style="font-size: 2em"></i>
                <p>You don't have any favorites yet. <a ui-sref="tabs.results">Browse</a> around for places that you love!</p>
            </ion-item>-->
        </ion-list>


    </ion-content>

</ion-view>
