<ion-view view-title="Restaurants">
    <div class="bar bar-subheader item-input-inset bar-assertive-900 no-border">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="filters.search">
        </label>
        <!--<button class="button button-clear button-icon icon ion-ios-close-outline" ng-click="filters.search=''"
                ng-show="filters.search.length"></button>-->
        <button class="button button-clear button-icon icon ion-ios-settings-strong" ng-click="openFiltersModal()"
                ng-hide="$exposeAside.active"></button>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Pull to refresh..."  on-refresh="refresh()"></ion-refresher>
        <ion-list class="">
            <ion-item ng-repeat="res in restaurants|filter:filters.search|orderBy:filters.sort" class="item item-avatar ink" data-ink-color="#FFFF00" ui-sref="tabs.restaurant({id: res.slug})">
                <span class="avatar" style="background-image: url('{{::res.logo.path}}');"></span>
                <h2>{{::res.name}}</h2>
                <p class="row row-no-padding">
                    <span class="col col-50">
                        <span ng-bind-html="::showStars(res.rating_count, res.rating_cache)"></span>
                    </span>
                    <span class="col col-50 text-right">
                       <span ng-bind-html="::showDollars(res.restaurant.price_range)"></span>
                    </span>
                </p>
                <p>
                    <a href="#" class="subdued" ng-repeat="c in res.restaurant.cuisines">{{::c.name}}</a>
                </p>
                <p style="font-size: 80%">
                    <span class="distance-badge badge badge-assertive">{{::res.distance|number:2}} miles away</span>
                </p>
                <ion-option-button class="button-stable ink" ng-click="favoriteThis(res)">&nbsp;<i class="icon ion-heart" ng-class="{true:'lovely'}[faved(res.id)]"></i></ion-option-button>
                <ion-option-button class="button-balanced ink" ng-click="initCaller(res)">&nbsp;<i class="icon ion-ios-telephone"></i></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
