<ion-view view-title="My Account">
    <ion-content class="has-header">
        <div class="hero slide-up" style="background-image: url('img/bgs/profile-bg.gif');">
            <div ng-if="user" class="content">
                <div ng-if="::user.avatar" class="avatar" style="background-image: url('{{::user.avatar}}');"></div>
                <div ng-if="::!user.avatar" class="avatar" style="background-image: url('icon.png');"></div>
                <h3><a class="dark" ng-bind="::user.full_name"></a></h3>
                <h4 class="dark" ng-bind="'Foodie'"></h4>
            </div>

            <div ng-if="!user" class="content">
                <a class="button button-calm button-block icon ion-log-in button-large ink-button" ui-sref="signin">
                    Sign in
                </a>
            </div>
        </div>

        <div class="list" ng-if="friends">
            <h4 class="content padding double-padding-x">Friends using Tabletops</h4>
            <a class="item item-avatar" ng-repeat="f in friends">
                <span class="avatar" style="background-image: url('{{::f.picture.data.url}}');"></span>
                <h2 ng-bind="::f.name"></h2>
                <p>Foodie</p>
            </a>
        </div>
    </ion-content>
</ion-view>