<ion-view view-title="My Account">
    <ion-content class="has-header">
        <div ng-if="user" class="hero " style="background-image: url('img/bgs/profile-bg.gif');">
            <div class="content">
                <div ng-if="::user.avatar" class="avatar" style="background-image: url('{{::user.avatar}}');"></div>
                <div ng-if="::!user.avatar" class="avatar" style="background-image: url('icon.png');"></div>
                <h3><a class="light" ng-bind="::user.full_name"></a></h3>
                <h4 ng-bind="'Foodie'"></h4>
            </div>
        </div>


        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons" ng-if="!user">
            <a menu-close type="button" class="button button-block icon ion-log-in button-clear button-large" ui-sref="signin">
                Sign in
            </a>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <div class="list" ng-if="friends">
            <div class="item item-divider">Friends</div>
            <ion-item class="item item-avatar" collection-repeat="f in friends">
                <img ng-if="::f.picture" ng-src="{{::f.picture.data.url}}" class="img-responsive" alt="">
                <h2 ng-bind="::f.name"></h2>
                <p>Foodie</p>
            </ion-item>

        </div>
    </ion-content>
</ion-view>