<ion-view view-title="About">
    <ion-content>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="resources/icon.png">
            <p>There are amazing restaurants of diverse cuisine in the Bahamas, <!-- (and Caribbean)-->
                we make it easy to discover them and bring this information to your fingertips.</p>
        </div>
        <a class="item item-icon-right" ui-sref="tabs.privacy">
            Privacy Policy
            <i class="icon ion-ios-arrow-right stable"></i>
        </a>
        <a class="item">App Version: 1.0.0</a>
        <a class="item">Copyright &copy; 2015 Tabletops</a>
        <div>
            <ion-item class="item-stable"
                      ng-click="toggleThisGroup(menu)"
                      ng-class="{active: isGroupShown(menu)}">
                <i class="icon" ng-class="isGroupShown(menu) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp; Legal Notices
            </ion-item>

            <div class="list item-accordion" ng-show="isGroupShown(menu)" ng-init="getGoogleLegalNotice()">
                <div class="item item-text-wrap">
                    <p ng-bind="::googleLegalNotice"></p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>