<ion-view view-title="FAQ">
    <ion-content>
        <div>
            <!--<ion-item class="item-stable"
                      ng-click="toggleThisGroup(menu)"
                      ng-class="{active: isGroupShown(menu)}">
                <i class="icon" ng-class="isGroupShown(menu) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp; {{::menu.name}}
            </ion-item>

            <div class="list item-accordion" ng-show="isGroupShown(menu)">

            </div>-->
            <p class="padding">No FAQs available yet, send feedback and tell us how we are doing. And we can answer some of your questions.</p>
        </div>
    </ion-content>
</ion-view>