<ion-view view-title="Settings">
    <ion-content>
        <div class="list">

            <div class="card">
                <div ng-if="user" class="item item-avatar item-text-wrap stable-bg waves-effect waves-block waves-dark item-icon-right" ui-sref="tabs.settings-account">
                    <span ng-if="::user.avatar" class="avatar" image-lazy-src="{{ user.avatar }}"
                          image-lazy-background-image="true"></span>

                    <h2 ng-bind="::user.full_name ? user.full_name : (user.fname + ' ' + user.lname)">
                        <!--<i class="icon ion-social-facebook positive" ng-if="!!facebookProfile"></i>
                        <i class="icon ion-social-googleplus energized-900" ng-if="!!googleProfile"></i>
                        <i class="icon ion-social-windows balanced" ng-if="!!liveProfile"></i>
                        &nbsp;-->
                    </h2>
                    <p class="">@{{::user.username}}</p>
                    <i class="icon ion-ios-arrow-right stable"></i>
                </div>

                <a class="item item-icon-left item-button-right" ng-show="!!facebookProfile">
                    <i class="icon ion-social-facebook calm calm"></i>
                    Facebook Connected
                    <button class="button button-stable button-icon flat" ng-click="signOutFacebook()">
                        <i class="icon ion-log-out"></i>
                    </button>
                </a>

                <a class="item item-icon-left item-icon-right" ng-hide="!!facebookProfile" ng-click="signInFacebook()">
                    <i class="icon ion-social-facebook calm calm"></i>
                    Connect Facebook account
                    <i class="icon ion-log-in stable"></i>
                </a>

                <a class="item item-icon-left item-button-right" ng-show="!!googleProfile">
                    <i class="icon ion-social-google energized-900"></i>
                    Google Connected
                    <button class="button button-stable button-icon flat" ng-click="signOutGoogle()">
                        <i class="icon ion-log-out"></i>
                    </button>
                </a>

                <a class="item item-icon-left item-icon-right" ng-hide="!!googleProfile" ng-click="signInGoogle()">
                    <i class="icon ion-social-google energized-900"></i>
                    Connect Google account
                    <i class="icon ion-log-in stable"></i>
                </a>
                <!--<a class="item item-icon-left item-button-right" ng-click="signInLive()">
                    <i class="icon ion-social-google energized-900"></i>
                    Windows Live <span ng-if="::user" ng-bind="!!liveProfile ? 'Connected' : 'Connect'"></span>
                    <i class="icon" ng-class="{true:'ion-checkmark-circled balanced',false:'ion-ios-arrow-right stable'}[!!liveProfile]"></i>
                </a>-->
            </div>
            <div class="card" ng-if="::!user">

            </div>

            <div class="card">
                <a class="item item-icon-left" ng-click="openProvinceModal($event)">
                    <i class="icon ion-ios-navigate"></i>
                    Set Province
                    <span class="item-note" ng-bind="$parent.settings.province.name"></span>
                </a>
                <!--<a class="item item-icon-right" ng-click="openProvinceModal($event)">
                    Profile Settings
                    <i class="icon ion-ios-arrow-right stable"></i>
                </a>-->
                <!--<a class="item item-icon-right" ng-click="openProvinceModal($event)">
                    Notification Settings
                    <i class="icon ion-ios-arrow-right stable"></i>
                </a>-->
            </div>

            <div class="card">
                <a class="item item-icon-left" ng-click="rateApp()">
                    <i class="icon ion-heart"></i>
                    Rate Tabletops App
                </a>
                <a class="item item-icon-left item-icon-right" ui-sref="tabs.usage">
                    <i class="icon ion-ios-analytics"></i>
                    Share Usage Data
                    <i class="icon ion-ios-arrow-right stable"></i>
                </a>
                <!--<a class="item item-icon-left" ui-sref="about">
                    <i class="icon ion-ios-information-outline"></i>
                    About Tabletops
                </a>-->
                <a class="item item-icon-left item-icon-right" ui-sref="tabs.faq">
                    <i class="icon ion-help"></i>
                    FAQs
                    <i class="icon ion-ios-arrow-right stable"></i>
                </a>
                <a class="item item-icon-left" ng-click="openFeedbackModal($event)">
                    <i class="icon ion-chatbox"></i>
                    Send Feedback
                </a>
                <a class="item item-icon-left item-icon-right" ui-sref="tabs.terms">
                    <i class="icon ion-ios-book"></i>
                    Terms & Conditions
                    <i class="icon ion-ios-arrow-right stable"></i>
                </a>
                <a class="item item-icon-left item-icon-right" ui-sref="tabs.privacy">
                    <i class="icon ion-eye"></i>
                    Privacy Policy
                    <i class="icon ion-ios-arrow-right stable"></i>
                </a>
                <a class="item" ui-sref="intro">
                    Show Tutorial
                </a>
                <a class="item">
                    App Version: 1.0.0
                </a>
                <a class="item">
                    Copyright &copy; 2015 Tabletops
                </a>
                <a class="item" ng-click="refreshTokens()">Refresh Tokens</a>
            </div>
        </div>
    </ion-content>
</ion-view>