<ion-view view-title="Share Usage Data">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-icon-left item-toggle">
                <i class="icon ion-ios-analytics"></i>
                Share Usage Data
                <label class="toggle toggle-assertive">
                    <input type="checkbox"
                           local-forage="{key: 'usage', scopeKey: 'settings.usage', defaultValue: false}"
                           ng-model="settings.usage">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <p>
            Tabletops gathers usage data to analyze and improve our applications. This data may include provincial
            location information. You can opt out at any time from providing this data by using the toggle switch above.
            For mo information please see our Privacy Policy.
        </p>
    </ion-content>
</ion-view>