<ion-view hide-back-button="true" class="bg-food">
    <!--<ion-nav-bar class="nav-title-slide-ios7 bar-light transparent-nav">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>-->
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon icon ion-skip-forward"
                ng-click="startApp()" ng-if="!slideIndex"></button>
        <button class="button button-clear button-icon icon ion-ios-arrow-left"
                ng-click="previous()" ng-if="slideIndex > 0"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon icon ion-ios-arrow-right"
                ng-click="next()" ng-if="slideIndex != 2">
        </button>
        <button class="button button-clear button-icon icon ion-checkmark"
                ng-click="startApp()" ng-if="slideIndex == 2">
        </button>
    </ion-nav-buttons>

    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Thank you for choosing the Tabletops App!</h3>
            <div id="logo">
                <img src="resources/icon.png" style="border-radius: 20px;">
            </div>
            <p>
                We've worked super hard to make you happy.
            </p>
            <p>
                But if you are angry, too bad.
            </p>
        </ion-slide>
        <ion-slide>
            <h3>Using Awesome</h3>

            <div id="list">
                <h5>Just three steps:</h5>
                <ol>
                    <li>Be awesome</li>
                    <li>Stay awesome</li>
                    <li>There is no step 3</li>
                </ol>
            </div>
        </ion-slide>
        <ion-slide>
            <h3>Any questions?</h3>
            <p>
                Too bad!
            </p>
        </ion-slide>
    </ion-slide-box>
    <div class="button-bar" style="position: fixed;bottom: 0;">
        <button class="button button-small button-border button-dark" ui-sref="tabs.dashboard">
            CONTINUE WITHOUT LOGIN
            <i class="icon ion-ios-arrow-right"></i>
        </button>
    </div>
</ion-view>