<ion-modal-view>
    <ion-header-bar class="bar-assertive-900">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button button-clear light button-icon icon ion-ios-arrow-left" ng-click="closeReviewModal()"></button>
            </span>
        </div>

        <h1 class="title title-center light">Review</h1>
    </ion-header-bar>
    <ion-content>
        <form class="item border-top" ng-submit="submitReview()" name="ReviewForm" id="ReviewForm">
            <div class="list">
                <label class="item item-input" data-tap-disabled="true">
                    <rating ng-model="myReview.rate" max="myReview.max"></rating>
                </label>
                <label class="item item-input">
                        <textarea ng-model="myReview.body" ng-minlength="10" ng-enter placeholder="Write a review" ng-keyup="expandText()"
                                  ng-keydown="expandText()" required></textarea>
                </label>
                <label class="item item-input">
                    <ion-toggle ng-model="myReview.facebook" toggle-class="toggle-calm">Post to Facebook</ion-toggle>
                </label>
            </div>
            <!--<ion-toggle ng-model="myReview.google" toggle-class="toggle-calm">Post to Google+</ion-toggle>-->
            <div class="padding">
                <button class="button button-block button-positive" type="submit" ng-disabled="!ReviewForm.$valid">Submit Review</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>