<ion-view>
    <ion-nav-title>
        {{::listing.name}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon"
                ng-class="{ true:'ion-ios-navigate', false:'ion-ios-navigate-outline' }[showDirections]"
                ng-if="currentTab() == 2 && directionsSet" ng-click="toggleDirections()"></button>
    </ion-nav-buttons>
    <ion-pane class="">
        <ion-tabs class="tabs-icon-top tabs-dark tabs-bottom tabs-striped">

            <ion-tab title="Overview" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
                <!-- Tab 1 content -->
                <ion-content class="must-header has-tabs">
                    <ion-list>
                        <div class="item item-avatar">
                            <img ng-src="{{::listing.logo.path}}">

                            <h2 ng-bind="::listing.name"></h2>

                            <p class="row row-no-padding">
                                <span class="col col-50">
                                    <span ng-bind-html="::showStars(listing.rating_count, listing.rating_cache)"></span>
                                </span>
                                <span class="col col-50 text-right">
                                   <span ng-bind-html="::showDollars(listing.restaurant.price_range)"></span>
                                </span>
                            </p>
                        </div>
                        <div class="button-bar bar-dark">
                            <button class="button icon ion-heart" ng-click="">

                            </button>
                            <button class="button icon ion-ios-upload" ng-click="shareThis(listing)">

                            </button>
                            <button class="button icon ion-ios-circle-outline" ng-click="">

                            </button>
                        </div>
                    </ion-list>
                    <br/>

                    <p class="text-center">
                        <a class="subdued" ng-repeat="c in listing.restaurant.cuisines">{{::c.name}}</a>
                    </p>
                    <blockquote ng-if="::listing.summary" class="padding" ng-bind="::listing.summary"></blockquote>
                    <div class="list">
                        <ion-item class="row" style="flex-wrap: wrap;-webkit-flex-wrap: wrap;">
                            <span class="col col-75"><b>Services Available</b></span><span class="col col-25"></span>
                            <span class="col col-50" ng-if="listing.restaurant.reservations">
                                <span ng-if="listing.restaurant.reservations_preferred == 0">Accepts Reservations</span>
                                <span ng-if="listing.restaurant.reservations_preferred == 1">Reservations Preferred</span>
                                <span ng-if="listing.restaurant.reservations_preferred == 2"><i class="icon ion-alert"></i> Reservations Only</span>
                            </span>
                            <span class="col col-50" ng-if="listing.restaurant.parking">Parking Available</span>
                            <span class="col col-50" ng-if="listing.restaurant.tv">TV(s)</span>
                            <span class="col col-50"
                                  ng-if="listing.restaurant.credit_cards">Credit Cards Acceptted</span>
                            <span class="col col-50" ng-if="listing.restaurant.wifi">Free Wi-Fi</span>
                            <span class="col col-50" ng-if="listing.restaurant.outdoor_seating">Outdoor Seating</span>
                            <span class="col col-50" ng-if="listing.restaurant.delivery">Delivery</span>
                            <span class="col col-50" ng-if="listing.restaurant.takeout">
                                <span ng-if="listing.restaurant.takeout_only == 0">Takeout</span>
                                <span ng-if="listing.restaurant.takeout_only == 1"><i class="icon ion-alert"></i> Takeout Only</span>
                            </span>
                            <span class="col col-50" ng-if="listing.restaurant.valet">Valet</span>
                            <span class="col col-50" ng-if="listing.restaurant.disability">Handicap Accessible</span>
                        </ion-item>

                    </div>

                </ion-content>

            </ion-tab>

            <ion-tab title="Locations" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                <!-- Tab 2 content -->
                <ion-content class="must-header has-tabs">
                    <ion-list>
                        <div ng-repeat="loc in listing.locations">
                            <ion-item class="item-stable"
                                      ng-click="toggleThisGroup(loc)"
                                      ng-class="{active: isGroupShown(loc)}">
                                <i class="icon" ng-class="isGroupShown(loc) ? 'ion-minus' : 'ion-plus'"></i>
                                &nbsp; {{::loc.name}}
                            </ion-item>

                            <div class="list item-accordion" ng-show="isGroupShown(loc)">
                                <div class="item">
                                    {{::loc.address_1}} {{::loc.address_2}}<br/>
                                    {{::loc.locality}}<br/>
                                    {{::loc.province}}
                                </div>
                                <div class="item" ng-show="loc.phone_1 || loc.phone_2">
                                    <div class="button-bar bar-balanced">
                                        <a ng-show="loc.phone_1" target="_blank" ng-href="tel:{{loc.phone_1}}"
                                           class="button icon ion-ios-telephone" ng-bind="::loc.phone_1"></a>
                                        <a ng-show="loc.phone_2" target="_blank" ng-href="tel:{{loc.phone_2}}"
                                           class="button icon ion-ios-telephone" ng-bind="::loc.phone_2"></a>
                                    </div>
                                </div>
                                <ion-item ng-repeat="openHour in loc.opening_hours" style="padding: 4px 16px;">
                                    <b>{{::valById(hoursDays, openHour.day).name}}</b>: {{::valById(startHours,
                                    openHour.open).name}} - {{::valById(endHours, openHour.close).name}}
                                </ion-item>
                                <div class="item" ng-if="!loc.opening_hours.length">
                                    Open hours not currently available.
                                </div>
                            </div>
                        </div>
                    </ion-list>
                </ion-content>

            </ion-tab>

            <ion-tab title="Map" icon-on="ion-map" icon-off="ion-map">
                <!-- Tab 2 content -->

                <ion-content class="has-header must-header has-tabs" scroll="false" data-tap-disabled="true">
                    <div id="map">
                        <leaflet defaults="defaults" maxbounds="bounds" markers="markers" center="center" height="100%"
                                 width="100%"></leaflet>
                        <div id='errors'></div>
                        <ion-scroll id='directions' class="animated fast"
                                    ng-class="{true: 'fadeIn', false: 'fadeOut'}[showDirections && directionsSet]"
                                    ng-show="showDirections && directionsSet">
                            <div id='routes'></div>
                            <div id='instructions'></div>
                        </ion-scroll>
                    </div>
                </ion-content>

            </ion-tab>

            <ion-tab title="Photos" icon-on="ion-ios-photos" icon-off="ion-ios-photos-outline">
                <!-- Tab 2 content -->
                <ion-content class="has-header must-header has-tabs">
                    <div class="row responsive-sm" style="flex-wrap: wrap;-webkit-flex-wrap: wrap;">
                        <div class="col col-50" ng-repeat="photo in listing.gallery|limitTo:25">
                            <div class="photo-btn" ng-click="showImage(photo.path)"
                                 style="background-image: url({{::photo.path}}); background-position: center center; background-size: cover"></div>
                        </div>
                    </div>
                </ion-content>

            </ion-tab>

            <ion-tab title="Menus" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
                <!-- Tab 2 content -->
                <ion-content class="has-header must-header has-tabs">
                    <div ng-repeat="menu in listing.restaurant.menus">
                        <ion-item class="item-stable"
                                  ng-click="toggleThisGroup(menu)"
                                  ng-class="{active: isGroupShown(menu)}">
                            <i class="icon" ng-class="isGroupShown(menu) ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp; {{::menu.name}}
                        </ion-item>

                        <div class="list item-accordion" ng-show="isGroupShown(menu)">
                            <div class="item" ng-if="menu.menu_type == 1">
                                <div class="row" style="flex-wrap: wrap;-webkit-flex-wrap: wrap;">
                                    <div class="col col-50" ng-repeat="photo in menu.photos">
                                        <div class="photo-btn" ng-click="showImage(photo.path)"
                                             style="background-image: url({{::photo.path}}); background-position: center center; background-size: cover"></div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="menu.menu_type == 2" ng-repeat="section in menu.sections">
                                <div class="item item-divider" ng-bind="::section.name"></div>
                                <div class="item" ng-repeat="item in section.items">
                                    <div class="row row-no-padding">
                                        <div class="col">
                                            <h3 ng-bind="::item.name"></h3>

                                        </div>
                                        <div class="col text-right">
                                            <span ng-bind="::item.price|currency"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </ion-content>

            </ion-tab>

            <ion-tab title="Reviews" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline">
                <!-- Tab 1 content -->
                <ion-content class="must-header has-tabs">
                    <ion-list type="card" ng-repeat="review in listing.accepted_reviews|limitTo:25">
                        <div class="item item-avatar">
                            <img ng-src="{{::review.user.avatar}}">

                            <h2 ng-bind="::review.user ? review.user.full_name : 'Anonymous'"></h2>

                            <p class="row row-no-padding">
                                <span class="col col-50">
                                    <span ng-bind="::review.timeago"></span>
                                </span>
                                <span class="col col-50 text-right">
                                   <span ng-bind-html="review.rating + ' <i class=\'icon ion-star energized\'></i>'"></span>
                                </span>
                            </p>
                        </div>

                        <div class="item item-body">
                            <p ng-bind="review.comment"></p>

                            <p>
                                <a href="#" class="subdued">{{review.like_count}} Like</a>
                                <!--<a href="#" class="subdued">5 Comments</a>-->
                            </p>
                        </div>

                        <!--<div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-thumbsup"></i>
                                Like
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-chatbox"></i>
                                Comment
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-share"></i>
                                Share
                            </a>
                        </div>-->

                    </ion-list>
                </ion-content>

            </ion-tab>


        </ion-tabs>
    </ion-pane>

</ion-view>