/* Webfont: Gentleman100-Hairline */@font-face {
    font-family: 'Gentleman100';
    src: url('Gentleman-100-Hairline.eot'); /* IE9 Compat Modes */
    src: url('Gentleman-100-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gentleman-100-Hairline.woff') format('woff'), /* Modern Browsers */
         url('Gentleman-100-Hairline.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gentleman-100-Hairline.svg#Gentleman100-Hairline') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

