<ion-view view-title="My Account">
    <ion-content class="has-header">
        <div class="hero" style="background-image: url('{{::!user.coverInfoURL ? user.coverInfoURL : 'img/bgs/cs21.jpg'}}');">
            <div ng-if="user" class="content">
                <div ng-if="::user.avatar" class="avatar" style="background-image: url('{{::user.avatar}}');"></div>
                <div ng-if="::!user.avatar" class="avatar" style="background-image: url('/resources/icon.png');"></div>
                <h3>
                    <i class="icon" ng-class="{'Facebook': 'ion-social-facebook positive-100'}[user.provider]"></i>
                    &nbsp;
                    <a class="light" ng-bind="::user.full_name"></a>
                </h3>
                <h4 class="light" ng-bind="'Foodie'"></h4>
            </div>

            <div ng-if="user" ng-hide="user.id" class="content">
                <a class="button button-calm button-block icon ion-log-in button-large ink-button" ui-sref="signin">
                    Sign in
                </a>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a class="tab-item" ng-click="">
                <i class="icon ion-person-add"></i> Invite Friends
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>

        <div class="list" ng-if="friends">
            <h4 class="content padding double-padding-x">{{friends.length}} friends using Tabletops</h4>
            <a class="item item-avatar item-button-right" ng-repeat="f in friends">
                <span class="avatar" style="background-image: url('{{::f.picture.data.url}}');"></span>
                <h2>
                    <i class="icon ion-social-facebook positive"></i>
                    &nbsp;
                    {{::f.name}}
                </h2>
                <p>Foodie</p>
                <button class="button button-balanced">Follow</button>
                <!--<button class="button button-balanced-900">unFollow</button>-->
            </a>
        </div>
    </ion-content>
</ion-view>