<ion-view view-title="Forgot Password" hide-nav-bar="true" class="transparent">
    <ion-content class="padding">
        <button class="button button-block button-dark flat" nav-direction="swap" ui-sref="login">GO BACK</button>
        <div class="ionic login">
            <form class="list" name="forgotPassword">
                <label class="item item-input item-md-label">
                    <input type="email" ng-model="email" required>
                    <span class="input-label">Email</span>
                    <div class="highlight highlight-balanced"></div>
                </label>
                <button class="button button-block button-balanced button-flat" ng-disabled="!forgotPassword.$valid" ng-click="passwordReset(email)">
                    <i class="icon ion-log-in"></i>
                    Reset Password
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>