<ion-view view-title="Login" hide-nav-bar="false" class="transparent">
    <ion-content padding="true">
        <div class="col col-80 col-offset-10">
            <div style="padding-top: 60px; padding-bottom: 30px">
                <img src="img/logo-white_red.png" alt="Tabletops" width="100%"/>
            </div>

            <button class="button button-block button-dark button-flat" ui-sref="signin">GO BACK</button>

            <div>
                <form class="list list-inset" name="loginForm">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="Email" ng-model="user.email" required>
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Password" ng-model="user.password" required>
                    </label>
                </form>
                <button class="button icon-left ion-log-in button button-block button-balanced button-flat" ng-disabled="!loginForm.$valid" ng-click="login()">
                    LOGIN
                </button>
                <button class="button button-block button-outline button-light button-flat" ui-sref="forgotpassword">FORGOT PASSWORD?</button>

            </div>
        </div>
    </ion-content>
</ion-view>