<ion-view view-title="Login" hide-nav-bar="false"
          style="background-image: url('../../img/bgs/cs21.jpg'); background-position: center center; background-size: cover">
    <ion-content padding="true">
        <div class="col col-80 col-offset-10">
            <div style="padding-top: 60px; padding-bottom: 30px">
                <img src="../../img/logo-white_red.png" alt="Tabletops" width="100%"/>
            </div>

            <div class="padding" ng-init="showForm = false;showAccountForm = false">
            </div>
        </div>
    </ion-content>
</ion-view>