<ion-view view-title="Login" hide-nav-bar="true" class="transparent">
    <ion-content class="padding">
        <div style="padding-top: 60px; padding-bottom: 30px">
            <img src="img/logo-white_red.png" alt="Tabletops" width="100%"/>
        </div>

        <button class="button button-block button-dark flat" nav-direction="enter" ui-sref="signin">GO BACK</button>

        <div class="ionic login">
            <form class="list" name="loginForm">
                <label class="item item-input item-md-label">
                    <input type="email" ng-model="user.email" required>
                    <span class="input-label">Email</span>
                    <div class="highlight highlight-balanced"></div>
                </label>

                <label class="item item-input item-md-label">
                    <input type="password" ng-model="user.password" required>
                    <span class="input-label">Password</span>
                    <div class="highlight highlight-balanced"></div>
                </label>
            </form>
            <button class="button icon-left ion-log-in button button-block button-balanced button-flat" ng-disabled="!loginForm.$valid" ng-click="login()">
                LOGIN
            </button>
            <button class="button button-block button-outline button-light button-flat" ui-sref="forgotpassword">FORGOT PASSWORD?</button>

        </div>

    </ion-content>
</ion-view>