<ion-view view-title="Sign-In" hide-nav-bar="true" class="transparent">
    <ion-content class="padding">
            <div ng-hide="showAccountForm||showForm" style="padding-top: 60px; padding-bottom: 30px">
                <img src="img/logo-white_red.png" alt="Tabletops" width="100%"/>
            </div>

            <div class="ionic login">
                <button class="button button-block button-positive button-flat" ng-click="signInFacebook()" ng-hide="showAccountForm||showForm">
                    <i class="icon ion-social-facebook"></i>
                    LOGIN WITH FACEBOOK
                </button>
                <button class="button button-block button-energized-900 button-flat" ng-click="signInGoogle()" ng-hide="showAccountForm||showForm">
                    <i class="icon ion-social-google"></i>
                    LOGIN WITH GOOGLE
                </button>

                <fieldset class="featured-header" ng-hide="showAccountForm||showForm">
                    <legend class="light">Or login with email</legend>
                </fieldset>

                <button class="button button-block button-dark button-flat" nav-direction="swap" ui-sref="login">
                    <span ng-hide="showForm">LOGIN</span>
                </button>

                <button class="button button-block button-stable button-flat" nav-direction="swap" ui-sref="createaccount">
                    <span class="dark" ng-hide="showAccountForm">CREATE AN ACCOUNT</span>
                </button>
            </div>
    </ion-content>
    <!--<div class="button-bar" style="position: fixed;bottom: 0;">
        <button class="button button-small button-border button-dark" ui-sref="tabs.dashboard">
            CONTINUE WITHOUT LOGIN
            <i class="icon ion-ios-arrow-right"></i>
        </button>
    </div>-->
</ion-view>