<ion-modal-view>
    <ion-header-bar class="bar-assertive-900">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button button-clear button-icon icon ion-ios-arrow-left" ng-click="closeSearchModal()"></button>
            </span>
        </div>

        <h1 class="title title-cente light">Search</h1>

    </ion-header-bar>
    <form class="bar bar-subheader bar-assertive-900 item-input-inset" ng-submit="">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button button-clear button-icon ion-location" ng-click="openProvinceModal($event)"></button>
            </span>
        </div>
            <label class="item-input-wrapper" style="margin-top: 0;padding-top: 0">
                <input type="search" autofocus placeholder="Search restaurants" ng-model="search">
            </label>
            <button class="hide" type="submit"></button>
        <div class="buttons buttons-right">
            <span class="right-buttons">
                <button class="button button-clear button-icon icon ion-ios-search" type="submit" ng-click="closeSearchModal()"></button>
            </span>
        </div>
    </form>
    <ion-content class="has-subheader">
        <ion-list>
            <div class="item item-divider">Quick Searches</div>
            <div class="item" ui-sref="tabs.results({search: 'breakfast'})" ng-click="closeSearchModal()">Breakfast</div>
            <div class="item" ui-sref="tabs.results({search: 'lunch'})" ng-click="closeSearchModal()">Lunch</div>
            <div class="item" ui-sref="tabs.results({search: 'dinner'})" ng-click="closeSearchModal()">Dinner</div>
            <div class="item" ui-sref="tabs.results({search: 'takeout'})" ng-click="closeSearchModal()">Takeout</div>
            <div class="item" ui-sref="tabs.results({search: 'delivery'})" ng-click="closeSearchModal()">Delivery</div>
        </ion-list>
    </ion-content>
</ion-modal-view>