<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <button class="button button-clear light button-icon icon ion-ios-arrow-left" ng-click="closeFeedbackModal()"></button>
        <h1 class="title title-center">Feedback</h1>
    </ion-header-bar>
    <ion-content class="">
        <ion-list>
            <label class="item item-input">
                <textarea ng-model="myFeedback.body" ng-enter placeholder="Tell us what you think..." ng-keyup="expandText()"
                          ng-keydown="expandText()"></textarea>
            </label>
        </ion-list>
        <button class="button button-dark button-block" ng-disabled="myFeedback.body.length<3" ng-click="sendFeedback()">Send
        </button>
    </ion-content>
</ion-modal-view>