<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <button class="button button-clear light button-icon icon ion-ios-arrow-left" ng-click="closeProvinceModal()"></button>
        <h1 class="title title-center light">Select Default Province</h1>
        <div class="buttons buttons-right">
            <span class="right-buttons">
                <button class="button button-clear light button-icon icon ion-ios-navigate" ng-click="selectClosestProvince()"></button>
            </span>
        </div>

    </ion-header-bar>
    <ion-content class="">
        <ion-list>
            <ion-radio ng-repeat="p in provinces" ng-model="selectedProvince" ng-value="p" ng-change="setProvince(p)">{{::p.name}}</ion-radio>
        </ion-list>
    </ion-content>
</ion-modal-view>