<ion-view >
    <ion-nav-title>
        <img ng-if="::listing.logo" class="title-image pull-left" ng-src="{{::listing.logo.path}}"> <span class="padding-left">{{::listing.name}}</span>
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon" ng-click="shareThis(listing)">
            <i class="icon ion-ios-upload"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="hero has-mask" style="background-image: url( {{ listing.gallery.length ? listing.gallery[0].path :'img/bgs/cs21.jpg'}});">
            <div class="content">
                <div class="" style="background-color: rgba(0,0,0,.3);height: 47px;">
                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="openReviewModal()">
                        <i class="icon ion-compose"></i>
                    </button>
                    <!--<button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="addPhotos()">-->
                        <!--<i class="icon ion-camera"></i>-->
                    <!--</button>-->
                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="beenHere(listing)">
                        <i class="icon ion-checkmark" ng-class="{true:'energized'}[visited(listing.id)]"></i>
                    </button>
                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="favoriteThis(listing)" id="{{::'share_button_'+listing.id}}">
                        <i class="icon ion-heart" ng-class="{true:'lovely'}[faved(listing.id)]"></i>
                    </button>
                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="toMap()">
                        <i class="icon ion-map light"></i>
                    </button>
                    <button class="button button-clear flat waves-effect waves-button waves-light padding-left padding-right pull-right text-white" ng-click="initCaller(listing)">
                        <i class="icon ion-ios-telephone balanced"></i>
                    </button>
                </div>

            </div>
        </div>
        <div class="dark-bg z1">
            <h3 class="padding-top padding-left light" ng-bind="::listing.name"></h3>
            <!--<p>$1,530 USD</p>-->
            <div class="row row-no-padding text-center padding-vertical">
                <div class="col">
                    <span ng-if="listing" ng-bind-html="::showStars(listing.rating_count, listing.rating_cache)"></span>
                </div>
                <div class="col">
                    <span ng-if="listing" ng-bind-html="::showDollars(listing.restaurant.price_range)"></span>
                </div>
            </div>
        </div>

        <div class="padding-bottom"></div>
        <fieldset class="featured-header" ng-if="listing.summary">
            <legend class="assertive">Summary</legend>
        </fieldset>
        <p ng-if="::listing.summary" class="padding-horizontal" ng-bind="::listing.summary"></p>

        <fieldset class="featured-header" ng-if="listing.restaurant.cuisines.length">
            <legend class="assertive">Cuisines</legend>
        </fieldset>
        <p class="padding-horizontal" ng-if="listing.restaurant.cuisines.length">
            <a class="badge badge-stable" ng-repeat="c in listing.restaurant.cuisines">{{::c.name}}</a>
        </p>
        <div ng-show="::listing.locations">
            <!--<h4 class="padding-horizontal assertive" ng-pluralize count="::listing.locations.length" when="{'1': 'Location', 'other': 'Locations'}"></h4>-->
            <fieldset class="featured-header">
                <legend class="assertive" ng-pluralize count="::listing.locations.length" when="{'1': 'Location', 'other': 'Locations'}"></legend>
            </fieldset>
            <h4 class="content padding double-padding-x bar-assertive-100" ng-if="::listing.locations.length==0">Locations currently unavailable.</h4>
            <ion-list>
                <div ng-if="listing.locations.length">
                    <ion-slide-box class="loc-slider">
                        <ion-slide class="slide" ng-repeat="loc in listing.locations">
                            <div class="item card-item double-padding-y">
                                <div class="card stable-bg ink ink-dark">
                                    <div class="item">
                                        <h2 ng-bind="::loc.name"></h2>
                                        {{::loc.address_1}}, {{::loc.locality}}<br/>
                                        {{::loc.province}}<br/>
                                        <!--<button class="button button-positive ink" ng-click="toMap(loc.id)">
                                            <i class="icon ion-map"></i>
                                        </button>-->
                                    </div>
                                    <div ng-if="::loc.opening_hours.length" ng-repeat="openHour in loc.opening_hours" class="item no-padding padding-left condensed-space">
                                        <b>{{::valById(hoursDays, openHour.day).name}}</b>: {{::valById(startHours,
                                        openHour.open).name}} - {{::valById(endHours, openHour.close).name}}
                                    </div>
                                    <div class="item" ng-if="::!loc.opening_hours.length">
                                        Open hours currently unavailable.
                                    </div>
                                    <div class="item no-padding padding-top">
                                        <div class="button-bar">
                                            <button ng-click="callLocation(listing.locations, $index)" class="button button-raised button-balanced icon ion-ios-telephone"></button>
                                            <button ng-click="toMap(loc.id)" class="button button-raised button-positive icon ion-map"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>

            </ion-list>
        </div>

        <div class="list">
            <!-- Services -->
            <!--<h4 class="padding-horizontal assertive">Services Available</h4>-->
            <fieldset class="featured-header">
                <legend class="assertive">Services Available</legend>
            </fieldset>
            <div class="padding-horizontal services-list">
                <p class="" ng-if="::listing.restaurant.reservations"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;
                    <span ng-if="::listing.restaurant.reservations_preferred == 0">Accepts Reservations</span>
                    <span ng-if="::listing.restaurant.reservations_preferred == 1">Reservations Preferred</span>
                    <span ng-if="::listing.restaurant.reservations_preferred == 2"><i class="icon ion-alert"></i> Reservations Only</span>
                </p>
                <p class="" ng-if="::listing.restaurant.parking"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Parking Available</p>
                <p class="" ng-if="::listing.restaurant.tv"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;TV(s)</p>
                <p class="" ng-if="::listing.restaurant.credit_cards"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Credit Cards Accepted</p>
                <p class="" ng-if="::listing.restaurant.wifi"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Free Wi-Fi</p>
                <p class="" ng-if="::listing.restaurant.outdoor_seating"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Outdoor Seating</p>
                <p class="" ng-if="::listing.restaurant.delivery"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Delivery</p>
                <p class="" ng-if="::listing.restaurant.takeout"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;
                    <span ng-if="::listing.restaurant.takeout_only == 0">Takeout</span>
                    <span ng-if="::listing.restaurant.takeout_only == 1"><i class="icon ion-alert"></i> Takeout Only</span>
                </p>
                <p class="" ng-if="listing.restaurant.valet"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Valet</p>
                <p class="" ng-if="listing.restaurant.disability"><i class="icon ion-checkmark-circled balanced"></i>&nbsp;Handicap Accessible</p>
            </div>
        </div>

        <div class="list">
        <!-- Photos -->
            <!--<h4 class="padding-horizontal assertive">
                Photos
                <a class="button button-icon icon ion-camera button-clear button padding-left padding-right" ng-click="addPhotos()"></a>
            </h4>-->
            <fieldset class="featured-header">
                <legend class="assertive">
                    Photos
                    <!--<a class="button button-icon icon ion-camera button-clear button padding-left padding-right" ng-click="addPhotos()"></a>-->
                </legend>
            </fieldset>
            <h4 class="content padding double-padding-x" ng-if="listing.gallery.length==0">No photos are currently available</h4>
            <ion-scroll ng-if="::listing.gallery.length" direction="x" class="available-scroller gallery-prev-scroller wide-as-needed">
                <div class="nearby-card" collection-repeat="photo in listing.gallery|limitTo:6" item-height="100" item-width="110">
                    <div class="photo-btn gallery-btn" ng-click="showImage(photo.path)" style="background-image: url({{::photo.path}});min-height: 100px" ></div>
                </div>

            </ion-scroll>
        </div>

        <div class="list">

            <!-- Menus -->
            <!--<h4 class="padding-horizontal assertive" ng-if="::listing.restaurant.menus[0].sections.length || listing.restaurant.menus[0].photos.length">Menus</h4>-->
            <fieldset ng-if="::listing.restaurant.menus[0].sections.length || listing.restaurant.menus[0].photos.length" class="featured-header">
                <legend class="assertive">Menus</legend>
            </fieldset>
            <div ng-repeat="menu in listing.restaurant.menus" ng-if="::listing.restaurant.menus[0].sections.length || listing.restaurant.menus[0].photos.length">
                <ion-item class="item-stable"
                          ng-click="toggleThisGroup(menu)"
                          ng-class="{active: isGroupShown(menu)}">
                    <i class="icon" ng-class="isGroupShown(menu) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp; {{::menu.name}}
                </ion-item>

                <div class="list item-accordion" ng-show="isGroupShown(menu)">
                    <div class="item" ng-if="menu.menu_type == 1">
                        <div class="row" style="flex-wrap: wrap;-webkit-flex-wrap: wrap;">
                            <div class="col col-50" ng-repeat="photo in menu.photos">
                                <div class="photo-btn" ng-click="showImage(photo.path)"
                                     style="background-image: url({{::photo.path}}); background-position: center center; background-size: cover"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="menu.menu_type == 2" ng-repeat="section in menu.sections">
                        <div class="item item-divider" ng-bind="::section.name"></div>
                        <div class="item" ng-repeat="item in section.items">
                            <div class="row row-no-padding">
                                <div class="col">
                                    <h3 ng-bind="::item.name"></h3>

                                </div>
                                <div class="col text-right">
                                    <span ng-bind="::item.price|currency"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Reviews-->
            <!--<h4 class="padding-horizontal assertive">Most Recent Reviews</h4>-->
            <fieldset class="featured-header">
                <legend class="assertive">Most Recent Reviews</legend>
            </fieldset>

            <h4 class="content padding double-padding-x" ng-if="listing.accepted_reviews.length==0">No reviews yet</h4>
            <div class="item card-item" ng-repeat="review in listing.accepted_reviews|limitTo:5">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-avatar item-text-wrap in">
                        <span class="avatar" style="background-image: url('{{::review.user.avatar}}');"></span>
                        <strong ng-bind="::review.user ? review.user.full_name : 'Anonymous'"></strong>
                        {{::review.comment}}
                        <div class="card-footer text-right">
                            <i class="icon ion-star energized"></i> {{::review.rating}}
                            <i class="icon ion-heart assertive"></i> {{::review.like_count}}
                            <div class="pull-left">
                                <i class="icon ion-clock"></i> {{::review.timeago}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="content padding double-padding-x" ng-if="listing.accepted_reviews.length>5" ui-sref="tabs.restaurant-reviews({id:listing.slug})">View All Reviews</h4>
            <div class="padding">
                <button class="button button-positive button-block" ng-click="openReviewModal()">Write a Review</button>
            </div>

            <div class="padding">
                <button class="button button-assertive button-outline button-block button-flat ink-dark" ng-click="openReportModal(listing)">Report an Error</button>
            </div>

        </div>
    </ion-content>
</ion-view>