<div><h6 class="text-center">{{v.name}}</h6>

    <div class="text-center">
        <button class="button button-small button-clear">{{ v.like_count}} <span class="icon ion-heart calm"></span>
        </button>
        <button class="button button-small button-clear">{{ v.rating_count}} <span
                class="icon ion-chatbubbles energized"></span></button>
        <button class="button button-small button-clear balanced">{{ $scope.showDollars(v.restaurant.price_range, true)
           }}
        </button>
    </div>
    <div>

        <a ui-sref="restaurant({id: 'v.slug'})"
            class="button button-small button-block button-outline button-assertive">View</a></div>
</div>